<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    <!-- {{!-- Document Settings --}} -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- {{!-- Base Meta --}} -->
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- {{!-- Styles'n'Scripts --}} -->
    <link rel="stylesheet" type="text/css" href="{{asset "built/sub.css"}}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <script src="/public/members.min.js"></script>
    <script src="https://widget.prefinery.com/widget/v2/u0h1v97f.js" async defer></script>

    {{ghost_head}} 
    
    <style>
      body{
        font-family: 'Nunito', sans-serif;
      }
    </style>
</head>
<body>
  {{!-- The big email subscribe modal content --}}
    {{#if @labs.members}}
    <div class="subscribe-success-message">
        <a class="subscribe-close-button" href="javascript:;"></a>
        You've successfully subscribed to {{@site.title}}!
    </div>
    {{/if}}
  <div class="container-fluid mb-0 vh-100">
    <div class="row row-eq-height vh-100">
      <div class="col">
        <div class="container">
          <div class="row mt-4 ml-5">
            <div class="col-4">
              <a href="https://skica.me/"><img src="assets/img/logo.png" class="mt-2"></a>
            </div>
            <div class="col-8">
              <nav class="navbar navbar-expand-lg navbar-light bg-white float-right">
                <ul class="navbar-nav">
                  <li class="nav-item active mr-5">
                    <a href="/about-us" class="nav-link">About</a>
                  </li>
                  <li class="nav-item active mr-5">
                    <a href="/blog" class="nav-link">Blog</a>
                  </li>
                  <li class="nav-item active mr-5">
                    <a href="/contact" class="nav-link">Contact</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        
        <div class="row mb-0">
          <div class="mx-auto mt-5" style="background: url('./assets/img/sparkle-bg.png') no-repeat;">
            <img src="assets/img/iphone.png" class="mt-4 ml-3" />
          </div>
        </div>

        <div class="row" style="margin-top: -10%">
          <div class="ml-5 pl-4" style="background: url('./assets/img/sparkle-bg.png') no-repeat;">
            <img src="assets/img/mascot.png" class="mt-4 ml-3" />
          </div>
        </div>

      </div>
      <div class="col text-light" style="background-color:#FFA81E;">
        <div class="container pt-5">
          <div class="row mt-5 pt-5">
            <img src="assets/img/coming-soon.png" class="mx-auto mt-5">
          </div>
          {{#if @labs.members}}
          <div class="row mt-4">
            <h5 class="mx-auto text-center" style="width:300px;">Subscribe below & be one of the first to access the Skica app and receive exclusive tips & advice!</h5>
          </div>
          <div class="row mt-4 pb-5 mb-4 align-middle mx-auto">
            <div class='prefinery-form-embed mx-auto text-white'></div>
          </div>
          {{else}}
          <div class="row mt-4">
            <h4 class="mx-auto text-center" style="width:300px;">You're subscribed! Check your e-mail and stay tuned for new updates!</h4>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
      {{!-- jQuery, required for fitvids --}}
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    {{!-- Fitvids (for responsive video embeds), infinite scroll, floating header, and gallery card support --}}
    <script src="{{asset "built/casper.js"}}"></script>

    {{!-- Scripts for Members subscription --}}
    <script>
        $("form").submit(function(){
            $('body').addClass("subscribe-success");
            $('.subscribe-success-message .subscribe-close-button').click(function () {
                $('.subscribe-success-message').addClass('close');
            });
            $('.subscribe-success-message').text("Please check your e-mail to confirm the subscription!");
        });
        // Parse the URL parameter
        function getParameterByName(name, url) {
            if (!url) url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // Give the parameter a variable name
        var action = getParameterByName('action');

        $(document).ready(function () {
            if (action == 'subscribe') {
                $('body').addClass("subscribe-success");
            }

            $('.subscribe-success-message .subscribe-close-button').click(function () {
                $('.subscribe-success-message').addClass('close');
            });

            // Reset form on opening subscrion overlay
            $('.subscribe-button').click(function() {
                $('.subscribe-overlay form').removeClass();
                $('.subscribe-email').val('');
            });
        });
    </script>
    {{{block "scripts"}}}
    {{ghost_foot}}
</body>
</html>
